.f-a-editor-wrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 60vh;
  border-radius: 18px;
  overflow: hidden;
  background-color: #272727;
  transform: translateX(40px);
}
.cursor-container {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  left: 500px;
}
.cursor{
  position: absolute;
  width: 26px;
  height: 26px;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease-in-out;

}
.f-a-editor-tabs-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: #0000004f;
  backdrop-filter: blur(30px);          /* the actual blur effect */
  -webkit-backdrop-filter: blur(10px); 
}

.f-a-editor-tabs-content{
  display: flex;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(30px);          /* the actual blur effect */
  -webkit-backdrop-filter: blur(10px);
}


.f-a-editor-tab {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
  align-items: center;
  min-width: 120px;
  height: 100%;
  padding: 0px 5px 0px 5px;
  background-color: #cfcfcf1a;
  color: white;
}

.f-a-editor-tab-text {
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
.f-a-window-controls-wrapper {

}

.f-a-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.f-a-icon-img {
  width: 100%;
  height: 100%;
}






.xterm-viewport {
  overflow: hidden !important;
}