.landing-page-ipad-wrapper {
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}