.hero-section {
  display: flex;
  position: relative;
  height: 100vh;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Monaco image container */

.monaco-hero-container {
  position: relative;
  perspective: 2000px;
  width: 900px;
  height: auto;
  display: inline-block;
  overflow: visible;
}

.monaco-hero-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: rotateX(55deg) rotateY(5deg) rotateZ(-35deg) translateX(50px) translateY(200px) translateZ(-25px);
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  pointer-events: none;
}



/*Website hero css*/
.website-hero-container {
  position: absolute;
  perspective: 2000px;
  width: 900px;
  height: auto;
  display: inline-block;
  overflow: visible;
}

.website-hero-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: rotateX(55deg) rotateY(20deg) rotateZ(-25deg) translateX(600px) translateY(-100px) translateZ(-100px);
  scale: 0.5;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  scale: 0.8;
  will-change: transform, box-shadow;
}

/* Website 2 css*/


.website2-hero-container {
  position: absolute;
  perspective: 2000px;
  width: 900px;
  height: auto;
  display: inline-block;
  overflow: visible;
}

.website2-hero-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: rotateX(30deg) rotateY(5deg) rotateZ(-35deg) translateX(300px) translateY(-200px) translateZ(-100px);
  scale: 0.5;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  scale: 0.8;
  will-change: transform, box-shadow;
}

