.file-explorer {
  width: 180px;
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
}

/*File Node CSS*/

.folder {

}
.explorer-arrow {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  transform: rotate(90deg);
}
.folder-label {
  display: flex;
  width: 100%;
  gap: 4px;
  align-items: center;
  padding: 0px;
}

.folder-label-text {
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
  font-family: 'Karla', sans-serif;
}

.file-label {
  padding: 5px;
  cursor: pointer;
  user-select: none;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.file-label.active {
  background-color: #333;
}

.folder-contents {
  border-left: 1px solid gray;
}
