/* SANDBOX CSS */

.sandbox-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
}

.sandbox-nav-wrapper {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #101010;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
}

.sandbox-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: white;
  padding-left: 20px;
}
.sandbox-nav-icon {
  width: 45px;
  height: 45px;
  background-color: rgb(38, 38, 38);
  border-radius: 8px;
}
.sandbox {
  display: flex;
  height: 100%;
  width: 100%;
}

.sandbox-fe-wrapper {
  display: flex;
}
.sandbox-right {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.sandbox-right-contents {
  display: flex;
  width: 100%;
  height: 100%;
}

.editor-pane {
  flex: 1;  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  height: 100%;
}

.editor-container{
  display: flex;
  height: 100%;
  overflow: hidden;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
.preview-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  height: 40px;
}
.preview-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 110px;
  gap: 5px;
  font-size: 15px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: white;
}
.preview-pane {
  display: flex;
  width: 100%;
  height: 100%;
}

