

.core-wrapper {
  display: flex;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
  background-color: #ebebeb;
  scale: 0;
}
.core-section {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 15px 20px 100px rgba(0, 0, 0, 0.5);
}

.core1-wrapper {
  display: flex;
  width: 100%;
}
.core1-left {
  display: flex;
  flex: 1;
  position: relative;
}

.core1-img {
  display: flex;
  width: 500px;
  height: max-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.core1-right {
  display: flex;
  flex: 1;
}
.core1-right-text {
  display: flex;
  height: 100%;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  color: white;
  font-size: 40px;
  font-family: 'Karla';
  font-weight: 400;
  width: 100%;
}

.core1-text1 {
  color: black;
  width: 500px;
  font-family: 'Inter';
  font-weight: 500;
}
.core1-text1-special {
  font-family: 'Imperial Script';
  font-size: 50px;
  padding-right: 10px;
  color: black;
}
.core1-text2{
  font-size: 20px;
  font-family: 'Inter';
  color: black;
}