/* SANDBOX CSS */

.sandbox-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  background-color: #0f0f0f;
  margin-top: 5vh;
}

.sandbox-nav-wrapper {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #101010;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
}

.sandbox-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: white;
  padding-left: 20px;
}
.sandbox-nav-icon {
  width: 45px;
  height: 45px;
  background-color: rgb(38, 38, 38);
  border-radius: 8px;
}
.sandbox {
  display: flex;
  height: 100%;
  width: 100%;
}

.sandbox-fe-wrapper {
  display: flex;
}
.sandbox-right {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.sandbox-right-contents {
  display: flex;
  width: 100%;
  height: 100%;
}

.editor-pane {
  flex: 1;  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  height: 100%;
}

.editor-container{
  display: flex;
  height: 100%;
  overflow: hidden;
}

.editor-tabs-wrapper {
  display: flex;
  flex-direction: flex;
  width: 100%;
  margin: 0;
}
.editor-tabs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.editor-path-wrapper {
  background-color: #1e1e1e;
  border-bottom: 1px solid rgba(45, 45, 45, 0.537);
}
.editor-path {
  display: flex;
  align-items: center;
  color: #888;
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  height: 28px;
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.editor-path span {
  color: #a3a3a3;
  font-size: 0.7rem;;
  font-weight: 500;
}


.editor-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #161616;
}




.preview-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgba(42, 42, 42, 0.858);
}
.preview-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  height: 40px;
}
.preview-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 110px;
  gap: 5px;
  font-size: 15px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: white;
}
.preview-pane {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
}



/*NO FILES*/

.no-files-placeholder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

}

.editor-no-files {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 8vh;
  color: #1e1e1e9a;
  text-shadow: 0px 0.5px 1px rgb(53, 53, 53);
  pointer-events: none;
}