#root{
  width: 100%;
  height: max-content;
  margin: 0px;
}
html {
  width: 100%;
  height: max-content;
  margin: 0px;
}
body {
  display: flex;
  width: 100%;
  font-family: "Karla", sans-serif;
  margin: 0px;
  background-color: rgb(5, 5, 5);
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  margin: 0px;
  overflow-x: hidden;
}