.lp-c-section-wrapper {

}

.lp-c-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.lp-c-text-wrapper {
    display: flex;
    width: 40%;
    border: 1px solid red;
}
.lp-c-text {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 37px;
}


.lp-c-tablet-model-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}