.lp-c-section-wrapper {

}

.lp-c-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.lp-c-text-wrapper {
    display: flex;
    width: 40%;
}
.lp-c-text {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 37px;
}


.lp-c-tablet-model-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.kira-intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    z-index: 1;
    position: relative;
    padding: 5vh 0px 0vh 0px;
/
}

.kira-voice {
    width: 130px;
}
.kira-intro-1 {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(120deg, #141414, #dedede);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;
    margin: 0px;
}

.kira-intro-2 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(120deg, #141414, #dedede);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}














