.editor-tabs-wrapper {
  display: flex;
  align-items: center;
  height: max-content;
  background-color: rgb(25, 25, 25);  backdrop-filter: blur(30px);          /* the actual blur effect */
  -webkit-backdrop-filter: blur(10px);
  border-top: 1px solid rgba(45, 45, 45, 0.537);  /* for Safari support */
}
.editor-tabs-container {
  display: flex;
  height: 100%;
  padding: 0.15rem 0.5rem;
  background-color: #212121b5;
  border-right: 1.5px solid rgba(45, 45, 45, 0.537);

}
.editor-tab {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  min-width: 90px;

  height: 100%;
}
.editor-tabs-icon-container {
  display: flex;
  width: 1.12vw;
}
.editor-tabs-icon-img {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.editor-tabs-text {
  font-size: 0.7rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgb(224, 224, 224);
  width: max-content;
}
.editor-tabs-close-btn-container {
  display: flex;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.editor-tabs-close-btn-container:hover {
  background-color: rgba(50, 50, 50, 0.459);
}
.editor-tabs-close-btn {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(109, 109, 109, 0.416);
  border-radius: 100%;
  color:  transparent;
  opacity: 0.8;
}