.editor-tabs-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #1e1e1e;
}
.editor-tabs-container {
  display: flex;
  height: 100%;
}
.editor-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #252525;
  border-radius: 8px;
  min-width: 160px;
  height: 100%;
}
.editor-tabs-icon-container {
  display: flex;
  width: 18px;
}
.editor-tabs-icon-img {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.editor-tabs-text {
  color: rgba(255, 255, 255, 0.753);
  font-size: 14.5px;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
}