.editor-tabs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  background-color: #0000004f;
  backdrop-filter: blur(30px);          /* the actual blur effect */
  -webkit-backdrop-filter: blur(10px);  /* for Safari support */
}
.editor-tabs-container {
  display: flex;
  height: 100%;
}
.editor-tab {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  background-color: #cfcfcf1a;
  min-width: 120px;
  height: 100%;
  padding: 0px 5px 0px 5px;
}
.editor-tabs-icon-container {
  display: flex;
  width: 18px;
}
.editor-tabs-icon-img {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.editor-tabs-text {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
}

.editor-tabs-close-btn {
  display: flex;
  width: 9px;
  height: 9px;
  background-color: rgba(109, 109, 109, 0.416);
  border-radius: 100%;
  color:  transparent;
}